<div class="nav">
  <div class="nav-links">
    <a href="/" class="<%= (activePage === 'home') ? 'active' : '' %>">Home</a>
    <a href="/chat" class="<%= (activePage === 'chat') ? 'active' : '' %>">Chats</a>
    <a href="/tareas" class="<%= (activePage === 'tareas') ? 'active' : '' %>">Tareas</a>
    <a href="/recompensas" class="<%= (activePage === 'recompensas') ? 'active' : '' %>">Recompensas</a>
    <a href="/torneo" class="<%= (activePage === 'torneo') ? 'active' : '' %>">Torneo</a>
  </div>
  <div class="nav-logout">
    <a href="/login">Cerrar Sesión</a>
  </div>
</div>